.dvCredentials {
  position: relative;
  z-index: 1;
  margin-top: -3rem;
}

@media (min-width: 992px) {
  .dvCredentials {
    position: absolute;
    z-index: 1;
    margin-top: 0;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  .dvCredentials h2.h5 {
    color: var(--black) !important;
  }
}
